# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# 4 space indentation
# don't check for max_line_length, rely on pylint
[*.py]
indent_style = space
indent_size = 4
max_line_length = unset

[Makefile]
indent_style = tab
max_line_length = unset

[*.mk]
indent_style = tab
max_line_length = unset

[setup.cfg]
indent_style = tab

[*.{tf,tfvars}]
indent_size = 2
indent_style = space
max_line_length = unset

[*.{yml,yaml}]
indent_size = 2
indent_style = space
max_line_length = unset

# Fix for json files
[*.json]
max_line_length = unset

[*.{md,rst}]
trim_trailing_whitespace = false
max_line_length = unset
indent_size = unset

[*.{sh,bats}]
max_line_length = unset

[LICENSE]
max_line_length = unset
indent_style = unset
indent_size = unset

# Fix for tox.ini
[**/tox.ini]
max_line_length = unset

[*.txt]
max_line_length = unset

[.pylintrc]
max_line_length = unset

[poetry.lock]
max_line_length = unset

[uv.lock]
max_line_length = unset

[poe_tasks.toml]
max_line_length = unset
