# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4
max_line_length = unset

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
max_line_length = unset

[*.mk]
indent_style = tab
max_line_length = unset

[setup.cfg]
indent_style = tab
trim_trailing_whitespace = false

[*.{tf,tfvars}]
indent_size = 2
indent_style = space

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.rst]
indent_size = unset
trim_trailing_whitespace = false
max_line_length = off

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

[{Dockerfile,.Dockerfile}]
indent_size = unset

[LICENSE]
indent_size = unset

[test-*.py]
indent_size = unset

[tox.ini]
max_line_length = off

[*.skip-ec]
indent_style = unset
max_line_length = unset

[poetry.lock]
max_line_length = unset

[requirements*.txt]
max_line_length = unset

[.pylintrc]
max_line_length = unset

[*.bats]
max_line_length = unset

[tests/test_{convert,output}.py]
indent_size = unset
