---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace # Trims trailing whitespace
      - id: check-yaml # Validates YAML files
        args: [--allow-multiple-documents]
      - id: check-toml # Validates TOML files
      - id: check-json # Validates JSON files # .vscode/ json files are actually jsonc files
        exclude: ^.vscode/.*
      - id: check-xml # Validates XML files
      - id: check-added-large-files # Checks for files that are added to the repository that are larger than a threshold
      - id: check-case-conflict # Checks for files that would conflict in case-insensitive filesystems
      - id: check-merge-conflict # Checks for files that contain merge conflict strings
      - id: detect-private-key # Check for the existence of private keys
      - id: check-executables-have-shebangs # Checks that executables have shebangs
      - id: end-of-file-fixer # Makes sure files end in a newline and only a newline
        exclude: |
          (?x)^(
              .gitmodules|
              shared/bats-libs/.*
          )$

  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      - id: check-json5

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.19.1
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.4.1
    hooks:
      - id: editorconfig-checker-system # Check editorconfig compliance
        alias: ec

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck # Shell scripts conform to shellcheck
        exclude: ^shared/bats-libs/.*
      - id: shfmt # Check shell style with shfmt
        exclude: ^shared/bats-libs/.*

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--config-data, relaxed, --no-warnings]

  - repo: https://github.com/looztra/yamkix
    rev: v0.13.0
    hooks:
      - id: yamkix
        args: [--no-quotes-preserved]
        exclude: |
          (?x)^(
              test-assets/.*|
              tests/data/.*
          )$

  - repo: local
    hooks:
      - id: taplo
        name: Check TOML files are formatted with 'taplo'
        entry: uv run taplo format --config .taplo.toml
        types: [text]
        language: system
        pass_filenames: false
      - id: ruff-format
        name: Check that files are formatted as expected with 'ruff format --check'
        entry: uv run --frozen ruff format --check
        language: system
        pass_filenames: false
      - id: ruff-check
        name: Lint files with 'ruff check'
        entry: uv run --frozen ruff check
        require_serial: true
        language: system
        pass_filenames: false
